html, body {
  background-color:#33373D;
  color: #DF756A;
  margin: 0;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

#title {
  margin: 0;
  font-size: 5rem;
}

#header {
  height: 100px;
  width: auto;
}

#input {
  position: absolute;
  top: 30%;
  height: 50%;
  width: 35%;
  left: 10%;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 20px, 20px, 20px;
}

#typed_math {
  border: none;
  color:#73BFB7;
  outline: none;
  text-align: center;
  width: 90%;
}

#rendered_math {
  color: #000000;
}

#typed_math, #rendered_math {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
}

#equation {
  position: absolute;
  top: 30%;
  height: 50%;
  width: 35%;
  right: 10%;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 20px, 20px, 20px;
}
