html, body {
  background-color:#111111;
  color: #DF756A;
  margin: 0;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

#title {
  margin: 0;
  font-size: 5rem;
}

#header {
  height: 200px;
  width: auto;
}

#interface {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#input {
  z-index: 1;
  display: flex;
  width: 35%;
  height: 600px;
  background-color: #111111;
  border-radius: 20px 10px 10px 20px;
  justify-content: center;
  align-items: center;
  margin: 4px;
  box-shadow: 10px 10px 50px black
}

#equation {
  z-index: 1;
  display: flex;
  width: 35%;
  height: 600px;
  background-color: #111111;
  border-radius: 10px 20px 20px 10px;
  justify-content: center;
  align-items: center;
  margin: 4px;
  box-shadow: 10px 10px 50px black
}

#typed_math {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  outline: none;
}

#typed_math_box {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  outline: none;
}

#typed_math, #rendered_math, #typed_math_box {
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
}

@media screen and (max-width: 700px) {
  #equation, #input {
    width: 80%;
    margin: 20px;
  }
  #title {
    font-size: 2rem;
  }
  #header {
    height: 30px;
  }
}